body {
    background: salmon;
    font-family: Lucida Handwriting, Helvetica, Times, sans-serif;
    text-align: center;
}

h2 {
    color: black;
}

strong {
    display: inline-block;
    width: 250px;
    border: 5px solid #000;
    text-align: center;
}

.about {
    display:flex;
    flex-wrap:wrap;
    margin-right: 350px;
    margin-left: 350px;
    justify-content: center;
    background-color: white;
    padding: 5px
}

.about p {
    width:50%;
    text-align: center;
    margin: auto;
    line-height: 125%;
}

.about img {
    width: 150px;
    height: 200px;
    border: 5px solid blue;
}

.skills {
    display: none;
}

.projects {
    display: none;
}

.contact {
    display: none;
}