body {
    background: #3EB489;
    font-family: Lucida Handwriting, Helvetica, Times, sans-serif;
    text-align: center;
}

h2 {
    color: white;
}

strong {
    display: inline-block;
    width: 250px;
    border: 5px solid white;
    text-align: center;
    color: white
}

.about {
    display:flex;
    flex-wrap:wrap;
    margin: 10px 300px;
    justify-content: center;
    background-color: white;
    padding: 5px
}

.about p {
    width:50%;
    text-align: center;
    margin: auto;
    line-height: 125%;
}

.about img {
    width: 150px;
    height: 200px;
    border: 5px solid #3EB489;
}

.skills {
    text-align: center;
    padding: 5px;
    background-color: white;
    border-radius: 15px;
    margin: 10px 300px;
    justify-content: center;
}

.projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.project {
    width: 25%;
    margin: 10px;
    padding: 20px 10px;
    background: white;
    border-radius: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.img {
max-width: 90%;
    height: auto;
    border-radius: 10px;
    object-fit: contain;
    display: block;
    margin: 0 auto;
    padding: 10px;
    border: 5px solid #3EB489;
}

.contact {
    text-align: center;
    padding: 5px;
    background-color: white;
    border-radius: 15px;
    margin: 10px 300px;
    justify-content: center;
}

a:link {
    color: #3EB489
}

a:visited {
    color: #3EB489
}
