body {
    background: salmon;
    font-family: Lucida Handwriting, Helvetica, sans-serif;
    text-align: center;
}

h2 {
    color: black;
}

h2 {
    color: black;
}

.about {
    background-color: black;
    padding: 5px
}

.skills {
    background-color: black;
    padding: 5px
}

.projects {
    background-color: black;
    padding: 5px
}

.contact {
    background-color: black;
    padding: 5px
}

strong {
    display: inline-block;
    width: 250px;
    border: 5px solid #000;
    text-align: center;
}